@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<br />
<br />


<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Bruno Barreto Carvalho</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Edinei Cavalcanti</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Igor Sanches</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Jean Cabrera</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Matheus Andrade</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Matheus</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Rafael Carreira</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Rafael Landim de Souza</h4>
            <p>Software Engineer</p>
        </div>
    </div>
</div>

<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Renan Luz</h4>
            <p>Job title</p>
        </div>
    </div>
</div>


<div class="col-md-6" style="margin-bottom: 8px;">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="~/Image/empty.png" width="100" height="133" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Sabrina Silva</h4>
            <p>Job title</p>
        </div>
    </div>
</div>

<br />
<br />






<br />
<br />

