@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-6">

        @using (Html.BeginForm("Receivers", "Home"))
        {
            <div class="form-group">
                <label for="exampleInputEmail1">Login</label>
                <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter your login" value="Administrator">

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="123456789">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        }

    </div>
    <div class="col-md-4">


    </div>
</div>